#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #0070b5;
}

.nav-bar-container {
  font-family: arial;
  font-size: 24px;
  /* margin: ; */
  padding: 1vh;
  padding-top: 10px;

  /* Center child horizontally*/
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  direction: row-reverse;
}

.child.searchBar > input {
  height: 45px;
  width: 40vw;
  background-color: white;
  font-size: 18px;
  border-radius: 15px;
  padding: 0 15px 0 25px;
  min-width: 355px;
}

.child.searchBar > input :focus {
  outline: none;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials > a > img:nth-child(1) {
  padding-left: 20px;
}

.socials > a > img {
  cursor: pointer;
}

.logo {
  padding-right: 20px;
}

@media screen and (max-width: 850px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: #0070b5;
  }
  .nav-bar-container {
    font-family: arial;
    font-size: 24px;
    padding: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
  }
  .socials > a {
    visibility: hidden;
  }
  .logo {
    padding-bottom: 2px;
  }
}
