* {
  font-family: 'Montserrat', sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #307ae5;
}
@media screen and (max-width: 700px) {
  #header {
    height: 105px;
  }
}

.nav-bar-container {
  font-size: 24px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  direction: row-reverse;
}

@media screen and (max-width: 700px) {
  .nav-bar-container {
    justify-content: flex-start;
    padding-top: 5px;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.child.searchBar {
  margin-left: 70px;
}
.child.searchBar > input {
  height: 45px;
  width: 20vw;
  background-color: white;
  font-size: 18px;
  border-radius: 15px;
  padding: 0 25px 0 25px;
  min-width: 300px;
}
@media screen and (max-width: 800px) {
  .child.searchBar {
    margin-left: 0px;
  }
}

@media screen and (max-width: 700px) {
  .child.searchBar {
    margin-top: 5px;
  }
  .child.searchBar > input {
    height: 30px;
    font-size: 15px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials > a:nth-child(1) {
  padding-left: 20px;
  padding-right: 10px;
}

.socials > a > img {
  cursor: pointer;
}

.logo {
  padding-right: 20px;
}

@media screen and (max-width: 700px) {
  .socials > a {
    visibility: hidden;
  }
  .logo {
    padding-bottom: 2px;
  }
}
